<% content_for :extra_javascript do %>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#message_tags').tagit({
				allowDuplicates: false,
				allowSpaces: false,
				placeholderText: "Tag your post...",
				autocomplete: {
					source: "/tags/"
				},
				showAutocompleteOnFocus: true
			});
		});
	</script>
<% end %>

<%= form_for :message, url: {action: "create"} do |f| %>
	<fieldset>
		<legend>Submit a new message</legend>
		<div class="control-group">
	    <%= f.label :content %>
	    <%= f.text_area :content %>
		</div>
		<div class="control-group">
		<%= f.label :hashtags %>
		<%= f.text_field :tags %>
		</div>
		<div class="control-group">
		<%= f.submit class: "button" %>
		</div>
	</fieldset>
<% end %>