<h2><%= @user.name %></h2>
<p><a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
<% @url = "/personal_messages/new/"
@url.concat(@user.id.to_s)
 %>

<p>
	<%= form_tag("/personal_messages/new", method: "get") do %>
		<input type="hidden" name="recipient" value="<%= @user.id %>"/>
		<button class="button" type="submit">Message User</button>
	<% end %>
</p>
<div>
	<h3>Messages by this user</h3>
	<% if @messages_from.length == 0 %>
	<div class="alert-box alert-info">No messages by this user yet!</div>
	<% else %>
	<ul class="unstyled message-list">
		<% @messages_from.each do |message| %>
		<li><%= message.content %></li>
		<% end %>
	</ul>
	<% end %>
</div>