<div class="" {{bind-attr class=":message :panel priority"}}>
	<div class="message-content">{{content}}</div>
	<div class="message-info">Posted {{created_at}} by {{#link-to: 'users.show' user}}{{user.name}}{{/link-to}}</div>
	{{#if tags.length}}
		<ul class="message-tags">
		{{#each tags}}
		<li>{{tag}}</li>
		{{/each}}
      	</ul>
  	{{/if}}
	<ul class="message-actions inline-list">
		<li><a href="#"><i class="icon-comment"></i> Comments ({{comments.length}})</a></li>
		<li><a href="#"><i class="icon-thumbs-up"></i> Like ({{likes.length}})</a></li>
		<li><a href="#"><i class="icon-share"></i> Share</a></li>
	</ul>
</div>