<h2> Inbox </h2>
<h3><a href="/sent">Sent Messages</a></h3><br/><br>

<% @my_messages.each do |message| %>
	  <p><% if(!message.anonymous) && (message.sender_id) 
      	@senderName = getSenderName(message.sender_id) %>
      	<%= link_to @senderName, user_path(message.sender_id)%>
      	<% else %>
      	<i>User is Veiled </i>
      	<% end %>
      	<br/>
	 <%= message.content %></p>
      <p><%= form_tag("/personal_messages/new", method: "get") do %>
		<input type="hidden" name="recipient" value="<%= message.sender_id %>"/>
		<input type='hidden' name="content" value="<%= message.content %>"/>
		<input type='hidden' name="reply" value="<%= message.id %>"/>
		<button class="button" type="submit">Reply</button>
	<% end %></p>
	<% if !message.read
		setRead(message.id)
	end %>
<%end%>