<!DOCTYPE html>
<% if session[:user] %>
<html lang="en" class="logged-in">
<% else %>
<html lang="en" class="logged-out">
<% end %>
<head>
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= content_for?(:title) ? yield(:title) : "Alooksie" %></title>
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" %>
	<%= csrf_meta_tags %>
	<% if session[:user] %>
		<meta name="current-user" content="<%= session[:user].id %> " />
		<% logger.info "Current Session Info: #{session[:user]}" %>
	<% end %>
</head>
<body>

	<% if flash[:notice] -%>
		<div class="alert-box alert-info"><%= flash[:notice] %>  <button type="button" class="close" data-dismiss="alert">&times;</button></div>
	<% end -%>
	<% if flash[:error] -%>
		<div class="alert-box alert-error"><%= flash[:error] %>  <button type="button" class="close" data-dismiss="alert">&times;</button></div>
	<% end -%>
	<% if flash[:debug] -%>
		<div class="alert-box alert-info"><%= debug flash[:debug] %></div>
	<% end -%>
	<% if session[:user] %>
		<div id="root" class="container">
			<script type="text/x-handlebars" data-template-name="application">
				{{outlet}}
			</script>
			<%= yield %>
		</div>
	<% else %>
		<header class="navbar navbar-fixed-top" role="banner">
		  <div class="container">
		    <div class="navbar-header">
		      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <i class="icon-list"></i>
		      </button>
		      <a id="ember479" class="ember-view navbar-brand" href="#/">Alooksie</a>
		    </div>
		    <nav class="collapse navbar-collapse" role="navigation">
		  		<ul class="nav navbar-nav pull-right">
		  			<li><a class="login" href="/auth/facebook"><i class="icon-facebook-sign"></i> Login</a></li>
		  		</ul>
		    </nav>
		  </div>
		</header>
		<div class="container">
			<div class="login-draw">
				<div class="row">
					<div class="col-md-7">
						<iframe width="560" height="315" src="//www.youtube.com/embed/5bJsOZd2C6w" frameborder="0" allowfullscreen></iframe>
					</div>
					<div class="col-md-5">
						<h1>alooksie</h1>
						<ol>
							<li>Your Interests</li>
							<li>Your Location</li>
							<li>In the Moment</li>
						</ol>
						<h3>See what's happening right now!</h3>
						<%= link_to(image_tag("connect-fb.png"), '/auth/facebook') %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<%= javascript_include_tag "//code.jquery.com/jquery-1.9.1.js" %>
	<%= javascript_include_tag "//code.jquery.com/ui/1.10.3/jquery-ui.js" %>
    <%= javascript_include_tag "application" %>
	<%= yield :extra_javascript %>
</body>
</html>
