<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="ie8" lang="en"><![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= content_for?(:title) ? yield(:title) : "Alooksie" %></title>
	<%= stylesheet_link_tag "application" %>
	<%= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" %>
	<%= csrf_meta_tags %>
</head>

<body>
	<header class="navbar navbar-fixed-top" role="banner">
	  <div class="container">
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a href="../" class="navbar-brand">Alooksie</a>
	    </div>
	    <nav class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav">
				<% if session[:user] %>
				<li><a href="/messages/new/" class="new"><i class="icon-edit"></i> New Post</a></li>
				<!-- <li><a href="/inbox">Inbox: <span class="badge"><%= @pm_notifications %></span></a></li> -->
				<li><a href="/messages/new/">New Post</a></li>
				<% end %>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<% if session[:user] -%>
				<li><a class="user" href="/users/<%= session[:user_id] %>"><i class="icon-user"></i> <%= session[:user]['name'] %></a></li>
				<li><a href="/logout" class="logout"><i class="icon-signout"></i> Logout</a></li>
				<% else -%>
				<li><a class="login" href="/auth/facebook"><i class="icon-facebook-sign"></i> Login</a></li>
				<% end %>
			</ul>
	    </nav>
	  </div>
	</header>

	<div class="container">
		<div id="content" class="row container">
			<% if flash[:notice] -%>
			<div class="alert-box alert-info"><%= flash[:notice] %>  <button type="button" class="close" data-dismiss="alert">&times;</button></div>
			<% end -%>
			<% if flash[:error] -%>
			<div class="alert-box alert-error"><%= flash[:error] %>  <button type="button" class="close" data-dismiss="alert">&times;</button></div>
			<% end -%>
			<% if flash[:debug] -%>
			<div class="alert-box alert-info"><%= debug flash[:debug] %></div>
			<% end -%>
			<!--<%= debug session.inspect %>-->
			<%= yield %>
			<script type="text/x-handlebars" data-template-name="application">
				{{outlet}}
			</script>
		</div>
	</div>
	<%= javascript_include_tag "http://code.jquery.com/jquery-1.9.1.js" %>
	<%= javascript_include_tag "http://code.jquery.com/ui/1.10.3/jquery-ui.js" %>
	<%= javascript_include_tag "application" %>
	<%= yield :extra_javascript %>
</body>
</html>
